<div class="sc-dA-diOu djVXBf">
  <div class="sc-jCttAn sc-eNodUS cPppzc bJmHiV">
    <div class="sc-jCttAn sc-fQVbLb immKqn efeztO">
      <div data-menu-open="false" class="sc-jCttAn cPppzc sc-jBgFVJ hceBeW" style="width: 100%; flex: 1 1 0%; min-width: 0px;">
        <button tabindex="0" data-detail-button="true" class="sc-dxnNGP iSxnNo">
          <div class="sc-hCMRlN jrUwZI sc-hViLbV kAYcYU">
            <img width="14" height="14" alt="Avatar of Satya Patel" aria-label="Satya Patel" class="sc-goXfwk ftTbyH" src="https://public.linear.app/9adac3ef-5b0b-47a5-b80e-124a9eb1aef9/c88ce14b-845d-4996-ada8-e15957cb66fd/eb849e12-cdc8-4133-8ea5-ba0aed632127">
          </div>
          <span class="sc-jwcAjt sc-jHEDWd hvJuxx" style="display: inline-flex; gap: 6px;">
            <span class="sc-kkxfMv cJlonF">satya</span>
          </span>
        </button>
      </div>
      <a class="sc-kMSTjW bqupoG" href="/cadra/profiles/satya" data-discover="true">
        <div class="sc-jCttAn cPppzc sc-jBgFVJ hceBeW sc-eJjymR ivCPiK">
          <svg aria-label="Go to user" class="sc-hSpfwQ kewEQD" width="9" height="5" viewBox="0 0 9 5" fill="lch(63.975% 1.933 272 / 1)" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" style="--icon-color: lch(63.975% 1.933 272 / 1);">
            <path d="M1.915.557a.667.667 0 0 0-.943.943l2.862 2.862a.942.942 0 0 0 1.333 0L8.028 1.5a.667.667 0 0 0-.943-.943L4.5 3.14 1.915.557Z"></path>
          </svg>
        </div>
      </a>
    </div>
  </div>
  <div class="sc-jAvLpz jYvOlf" style="height: auto;">
    <div class="sc-jCttAn sc-eNodUS cPppzc bJmHiV sc-hQvazI irkiVY" style="opacity: 0;"></div>
    <div style="opacity: 1;">
      <div class="sc-jXOxlz gLlJmG sc-cBrTBR czizHT" style="height: 18px;">
        <svg class="sc-dKBYNy kGrfQ" width="10" height="9" viewBox="0 0 10 9" fill="lch(22.5% 4.707 272 / 1)" role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" style="--icon-color: lch(22.5% 4.707 272 / 1);">
          <path d="M0 0h1v1c0 2.5 2.212 3.546 2.212 3.546L9.737 8.06c.568.306.094 1.186-.474.88l-6.48-3.488S0 4 0 1V0Z"></path>
        </svg>
      </div>
    </div>
    <div class="sc-jCttAn sc-eNodUS cPppzc bJmHiV" style="transform: none;">
      <div class="sc-jCttAn sc-fQVbLb immKqn efeztO">
        <div data-menu-open="false" class="sc-jCttAn cPppzc sc-jBgFVJ hceBeW" style="width: 100%; flex: 1 1 0%; min-width: 0px;">
          <button tabindex="0" data-detail-button="true" class="sc-dxnNGP iSxnNo">
            <div class="sc-hCMRlN jrUwZI sc-hViLbV jMIkXs">
              <img width="14" height="14" alt="Avatar of Charlie" aria-label="Charlie" class="sc-goXfwk ftTbyH" src="https://public.linear.app/9f748af2-7258-4540-a068-817e1b0062f8/eae8dc19-fa4e-4c28-9327-ac7e7fb98409/256x256/6ab0f222-0e95-4042-a349-e9fc80b79d47">
            </div>
            <span class="sc-jwcAjt sc-jHEDWd hvJuxx" style="display: inline-flex; gap: 6px;">
              <span class="sc-kkxfMv cJlonF">Charlie</span>
            </span>
          </button>
        </div>
        <a class="sc-kMSTjW bqupoG" href="/cadra/profiles/charlie" data-discover="true">
          <div class="sc-jCttAn cPppzc sc-jBgFVJ hceBeW sc-eJjymR ivCPiK">
            <svg aria-label="Go to agent" class="sc-hSpfwQ kewEQD" width="9" height="5" viewBox="0 0 9 5" fill="lch(63.975% 1.933 272 / 1)" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" style="--icon-color: lch(63.975% 1.933 272 / 1);">
              <path d="M1.915.557a.667.667 0 0 0-.943.943l2.862 2.862a.942.942 0 0 0 1.333 0L8.028 1.5a.667.667 0 0 0-.943-.943L4.5 3.14 1.915.557Z"></path>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
